.blue {
	color: lightblue;
}

.bigger {
	font-size: 4em;
}

.border {
	border: 5px solid hotpink;
}

.round {
	border-radius: 5px;
}

/*// The first section's text should be bold.
// The last section's text should be bold and italicized.
// Make the buttons stop appearing next to each other as inline elements. Change them into block elements.*/

articleEl[0].msg {
	background-color: red;
}