.blue {
	color: lightblue;
}

.bigger {
	font-size: 4em;
}

.border {
	border: 5px solid hotpink;
}

.round {
	border-radius: 5px;
}

section:first-of-type {
	font-weight: bold;
}

section:last-of-type {
	font-weight: bold;
	font-style: italic;
}

button {
	display: block;
}